.wrapper {
    width: 100%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    height: 100%;
    width: var(--default-layout-width);
    background-color: rgba(0, 0, 0, 0.856);
}

.list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 14px;
    list-style: none;
    & > a {
        text-decoration: none;
    }
}

.list-link {
    text-decoration: none;
}
.item {
    text-decoration: none;
    margin-right: 40px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
    &:hover {
        color: #ccc;
    }
}

.active {
    font-weight: 600;
    & > .item {
        background-color: rgb(50, 84, 231);
        border-radius: 4px;
    }
}
// show
